body {
    background: black;
}
img {
    width: 100%;
    height: 250px;
}
h1 {
    color: crimson;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
h2 {
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

blockquote {
    color: white;
}
strong {
    color: yellow;
}
h3 {
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
h4 {
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
a {
    color: crimson;
    text-align: center;
    margin-left: 48%;
}
h5 {
    color: yellow;
}
img {
    width: 100%;
    height: 150px;
    margin-top: ;
}
