main{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 50px;
}
.conteiner{
    display: flex;
    flex-direction: column;
}

.visor{
    display: flex;
    flex-direction: column;
}

.operadores{
    display: flex;
    flex-direction: column;
}

.numeros{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}