body{
    background-color: black;
}

h1{
    color: yellow;
}

.conteiner{
    margin-top: 20%;
    width: 100px;
    border: solid yellow;
    padding: 50px;
    background-color: black;
}

.numeros{
    margin: 5px;
}

.botaoBorda{
    background-color: yellow;
    border-radius: 5px;
}

.conteiner:hover{
    padding: 60px
}

.botaoBorda:hover{
    border: 10px;
}