body {
    background-color: lightblue;
    margin: 0;
}

h1 {
    text-align: center;
    color: lightcoral;
}

.container {
    display: flex;
    width: 50%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top
}